[[redirects]]
  from = "/blogs/*"
  to = "https://blogs.vocallabs.ai/blogs/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/blog/*"
  to = "https://blogs.vocallabs.ai/blog/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build]
  publish = "dist"
  command = "npm run build"

[functions]
  directory = "netlify/functions"

[[redirects]]
  from = "/sitemap.xml"
  to = "/.netlify/functions/sitemap"
  status = 200